# See http://help.github.com/ignore-files/ for more about ignoring files.

# Compiled output
/portal

# Node
/node_modules
npm-debug.log
yarn-error.log

# System files
.DS_Store
Thumbs.db

/app/files/**
